.best-solutions {
  background: #f2f2f2;
  padding: 90px 0;
}

/* HEADER */
.best-header {
  text-align: center;
  margin-bottom: 50px;
}

.best-header h2 {
  font-size: 50px;
  font-weight: 600;
  color: #134872;
}

.best-header h2 span {
  color: #29c553;
}

.best-header p {
  margin-top: 12px;
  font-size: 24px;
  color: #4c5267;
  /* max-width: 700px; */
  margin-left: auto;
  margin-right: auto;
}

/* GRID */
.solutions-grid {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 24px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

/* CARD */
.solution-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  
}



.solution-card img {
  width: 70px;
  height: auto;
  margin-bottom: 18px;
  margin: auto;
}

/* TITLE */
.solution-card h4 {
  font-size: 16px;
  font-weight: 600;
  color: #1f2937;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .solutions-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .solutions-grid {
    grid-template-columns: 1fr;
  }
}
