.blog-main {
  padding: 80px 0;
  margin: auto;
  background: #f2f2f2;
}

.blog-header {
  max-width: 1400px;
  margin: 0 auto 40px;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.blog-header h2 {
  font-size: 42px;
  font-weight: 700;
  color: #134872;
}

.blog-header h2 span {
  color: #28c76f;
}

.view-all {
  background: #7cb342;
  color: #fff;
  border: none;
  padding: 12px 22px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  
}

.blog-grid {
  /* max-width: 1400px; */
  width: fit-content;
  margin: 0 auto;
  /* padding: 0 24px; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  
}

/* .blog-card {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 28px rgba(0,0,0,0.12);
  transition: transform 0.3s ease;
  width: 360px;
  
} */

.blog-card {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 28px rgba(0,0,0,0.12);
  transition: transform 0.3s ease;
  width: 360px;

  display: flex;
  flex-direction: column;
}


.blog-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, .35), transparent 75%);
    background-repeat: no-repeat; */
}

/* .blog-content {
  padding: 24px;
} */

.blog-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.blog-content h3 {
  font-size: 20px;
  font-weight: 600;
  color: #111;
  margin-bottom: 12px;
}

.blog-content p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* .read-more {
  background: #7cb342;
  margin-top: auto;
  color: #fff;
  
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
} */

.read-more {
  margin-top: auto;              /* keep aligned at bottom */
  width: 45%;                   /* FULL WIDTH */
  height: 48px;                  /* consistent height */
  
  background: #7cb342;
  color: #fff;
  border: none;
  /* border-radius: 8px; */

  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

