
.why-choose-us {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 10px;
}

.why-choose-us span {
  color: #29c553;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.digital-sol {
  text-align: center;
}

.digital-sol h2 {
  font-size: 32px;
  font-weight: 700;
  color: #134872;
  margin-bottom: 12px;
}

.digital-sol h2 span {
  color: #29c553;
}

.paragraph {
  text-align: center;
  margin-bottom: 50px;
}

.paragraph p {
  font-size: 16px;
  color: #5b5e61;
  margin: 0 auto;
  line-height: 1.6;
}


.why-us-main-1,
.why-us-main-2 {
  background: #ffffff;
  padding: 0 0 36px;
}

.why-us-container-1,
.why-us-container-2 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
}


.why-us-card-1,
.why-us-card-2 {
  display: flex;
  gap: 30px;
  position: relative;
  background: #ffffff;
  border-radius: 14px;

  padding: 32px 40px 60px;
  min-height: 240px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  overflow: hidden;

  
  background-image: url("../assets/customize-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  
}

.text {
  display: flex;
  flex-direction: column;
}

.why-icon {
  width: 110px;
  height: 80%;
  /* margin-bottom: 16px; */
}


.why-us-card-1 h3,
.why-us-card-2 h3 {
  font-size: 20px;
  font-weight: 600;
  color: #134872;
  margin-bottom: 10px;
}

.why-us-card-1 p,
.why-us-card-2 p {
  font-size: 16px;
  line-height: 1.6;
  color: #4d4e50;
  max-width: 78%;
}


.why-us-card-1 button,
.why-us-card-2 button {
  position: absolute;
  left: 40%;
  bottom: 20px;

  background: #7cb342;
  color: #ffffff;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
