.testimonials {
  position: relative;
  padding: 100px 0;
  background-image: url("https://snabbtech.com/wp-content/uploads/2024/07/bg.png");
  background-position: center;
  background-size: cover;
}

.testimonials-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 24px;

  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 60px;
  align-items: center;
}

/* LEFT */
.testimonials-left h2 {
  font-size: 50px;
  font-weight: 600;
  color: #134872;
  margin-bottom: 20px;
}

.testimonials-left h2 span {
  color: #2db84c;
}

.testimonials-left p {
  font-size: 24px;
  color: #4d4e50;
  max-width: 420px;
  line-height: 1.7;
}

/* RIGHT */
.testimonials-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

/* CARD */
.testimonial-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 32px 28px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
  position: relative;
}


.stars {
  color: #fbbf24;
  margin-bottom: 14px;
  display: flex;
  gap: 4px;
}

.testimonial-card p {
  font-size: 15.5px;
  line-height: 1.7;
  color: #5a5a5a;
  margin-bottom: 28px;
}

/* FOOTER */
.testimonial-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-footer h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 2px;
}

.testimonial-footer span {
  font-size: 13px;
  color: #8a8a8a;
}

.quote-icon {
  font-size: 28px;
  color: #c7d7ff;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .testimonials-container {
    grid-template-columns: 1fr;
  }

  .testimonials-right {
    grid-template-columns: 1fr;
  }
}
