.footer-main {
  background: #ffffff;
  border-top: 1px solid #eaeaea;
  /* margin-top: px; */
}

.footer-container {
  margin: auto;
  padding: 60px 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.footer-right {
  display: flex;
  /* float: right; */
  /* flex-direction: column; */
  justify-content: flex-end;
  margin-right: 190px;
  margin-bottom: 50px; 
  /* height: 100%; */
}

/* LEFT */
.footer-logo {
  width: 140px;
  margin: auto;
  margin-bottom: 20px;
}

.footer-location {
  font-size: 16px;
  /* width: 350px; */
  padding: 0;
  margin: auto;
  color: #555;
  text-align: center;
  /* line-height: 1.6; */
  /* margin-bottom: 20px; */
}

.footer-socials {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 14px;
}


.footer-socials svg {
  width: 36px;
  height: 36px;
  padding: 9px;
  border-radius: 50%;
  background: #0b3b60;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

/* .footer-socials svg:hover {
  color: #2bbf4f;
} */

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1000px;
  gap: 40px;
}

.footer-links h4 {
  font-size: 24px;
  font-weight: 600;
  color: #134872;
  margin-bottom: 24px;
  position: relative;
}

.footer-links h4::after {
  content: "";
  width: 40px;
  height: 3px;
  background: #2bbf4f;
  position: absolute;
  bottom: -6px;
  left: 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin-top: 18px;
}

.footer-links li {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}

.footer-links li span {
  color: #2bbf4f;
}

/* .footer-badges {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  right: 200px;
  bottom: 0;
  align-items: flex-end;
  
}

.footer-badges img {
  width: 80px;
} */


.footer-badges {
  display: flex;
  gap: 20px;
  margin-top: auto;   /* THIS pushes it to bottom */
}

.footer-badges img {
  width: 80px;
}

.footer-bottom {
  text-align: center;
  padding: 14px 0;
  border-top: 1px solid #eaeaea;
  font-size: 13px;
  color: #555;
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-badges {
    align-items: flex-start;
  }
}
