.header {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-container {
  max-width: 1400px;
  margin: auto;
  padding: 14px 20px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-logo {
  display: flex;
  align-items: center;
}

.company-logo img {
  height: 32px;
  width: auto;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 50px;
}

.nav-bar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 650;
  color: #000;
  padding: 8px 5px;
  /* padding-left: 10px;
  padding-right: 10px; */
}

.nav-bar a:hover {
  color: #2ecc71;
}


.nav-btn {
  background: #7cb342;
  color: #fff;
  border: none;
  height: 44px;
  padding: 0px 26px;
  min-width: 140px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
}

.nav-btn:hover {
  background: #689f38;
}
