.industry-main {
  background: #f2f2f2;
  padding: 80px 0;
}

.industry-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;

  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: center;
  gap: 60px;
}

.industry-image img {
  width: 100%;
  border-radius: 5px;
  height: 450px;
}


.industry-content {
  max-width: 560px;
}


.industry-label {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  gap: 8px;

  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #29c553;
  margin-bottom: 12px;
}


.industry-content h2 {
  font-size: 42px;
  line-height: 1.3;
  font-weight: 700;
  color: #134872;
  margin-bottom: 28px;
}

.industry-content h2 span {
  color: #29c553;
}


.industry-points {
  display: flex;
  flex-direction: column;
  gap: 28px;
}


.industry-point {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}


/* .industry-point img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  margin-top: 4px;
} */

.industry-icon {
  font-size: 34px;
  color: #29c553;
  flex-shrink: 0;
  margin-top: 4px;
}

.industry-point h4 {
  font-size: 22px;
  font-weight: 600;
  color: #134872;
  margin-bottom: 6px;
}

.industry-point p {
  font-size: 16px;
  line-height: 1.6;
  color: #4d4e50;
  max-width: 420px;
}


