
.reviews-container {
  background: #f2f2f2;
  position: relative;
  top: -45px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
}

.reviews-inner {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.review-box {
  text-align: center;
}

.review-box h3,
.review-box span,
.review-box div {
  margin: 0;
  padding: 0;
}


.review-box h3 {
  font-size: 36px;
  font-weight: 600;
  color: #0b4a7a;
  margin-bottom: 6px;
}


.rating-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


.rating-text {
  font-size: 16px;
  font-weight: 600;
  color: red;
}


.stars {
  font-size: 18px;
  color: red;
  letter-spacing: 2px;
  line-height: 1;
}


.clutch-box {
  width: 280px;
}


.clutch-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.clutch-left {
  text-align: left;
}

.reviewed-on {
  font-size: 12px;
  color: #666;
  letter-spacing: 1px;
}


.clutch-right {
  text-align: right;
}

.stars {
  font-size: 18px;
  color: red;
  letter-spacing: 2px;
  line-height: 1;
}


.clutch-logo {
  background-image: url("../assets/clutch.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;

  width: 120px;       
  height: 34px;       

  margin-top: 6px;   
}

.review-count {
  font-size: 14px;
  color: #555;
  margin-top: 6px;
}
