.unique-main {
  background: #ffffff;
  padding: 50px 0;
}


.unique-header {
  text-align: center;
  margin-bottom: 50px;
}

.unique-header h2 {
  font-size: 50px;
  font-weight: 600;
  color: #134872;
}

.unique-header h2 span {
  color: #29c553;
}

.unique-header p {
  margin-top: 10px;
  font-size: 24px;
  color: #4d4e50;
}


.unique-cards {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 24px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}


.unique-card {
  background: #144a73;
  border-radius: 14px;
  padding: 45px 30px;
  min-height: 260px;

  box-shadow: 10px 10px 10px -2px rgba(33, 40, 51, 0.56);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}


.unique-icon {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 18px;
}


.unique-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #29c553;
  margin-bottom: 12px;
}


.unique-card p {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .unique-cards {
    grid-template-columns: 1fr;
  }

  .unique-card {
    min-height: auto;
  }
}
